[Unit]
Description=concourse web frontend

[Service]
ExecStart={{ concourse_bin_path }} web \
  --add-local-user fkhan:fkhan \
  --main-team-local-user fkhan \
  --session-signing-key {{ concourse_cfg_path }}/session-signing-key \
  --tsa-host-key {{ concourse_cfg_path }}/tsa-host-key \
  --tsa-authorized-keys {{ concourse_cfg_path }}/worker-pub-key \
  --external-url https://concourse.{{ r53_apex_domain }} \
  --postgres-host rds.{{ r53_apex_domain }} \
  --postgres-port 5432 \
  --postgres-user {{ concourse_psql_user }} \
  --postgres-password "{{ concourse_psql_password }}" \
  --postgres-database {{ concourse_psql_dbname }} \
  --peer-url http://{{ ansible_ec2_local_ipv4 }}:{{ concourse_peer_port }} \
  --github-client-id {{ concourse_github_client_id }} \
  --github-client-secret {{ concourse_github_client_secret }} \
  --main-team-github-team {{ github_org }}:operations \
  --aws-ssm-region {{ ansible_ec2_placement_region }} \
  {%- raw %}
  --aws-ssm-team-secret-template /concourse/team-secrets/{{.Team}}/{{.Secret}} \
  --aws-ssm-pipeline-secret-template /concourse/pipeline-secrets/{{.Team}}/{{.Pipeline}}/{{.Secret}} \
  {% endraw %}
  
Type=simple
Restart=always
RestartSec=5
StartLimitInterval=10
StartLimitBurst=3

[Install]
WantedBy=multi-user.target