{
  "url": "http://{{ ghost_dns }}",
  "server": {
    "port": {{ ghost_port }},
    "host": "127.0.0.1" 
  },
  "database": {
    "client": "mysql",
    "connection": {
      "host": "{{ GHOST_DB_HOST }}",
      "user": "{{ GHOST_DB_USER }}",
      "password": "{{ GHOST_DB_PW }}",
      "database": "{{ GHOST_DB_DBNAME }}"
    }
  },
  "mail": {
    "transport": "Direct"
  },
  "logging": {
    "transports": [
      "file",
      "stdout"
    ]
  },
  "process": "systemd",
  "paths": {
    "contentPath": "{{ service_dir }}/content"
  }
}