[Unit]
Description=ghosts

[Service]
Type=simple
Environment="NODE_ENV=production"
ExecStart=/usr/bin/node index.js
WorkingDirectory={{ service_dir }}
Restart=always
SyslogIdentifier=ghost
User={{ ghost_user }}
Group={{ ghost_group }}

[Install]
WantedBy=multi-user.target