var path = require('path'),
    config;

config = {
    production: {
        url: 'http://{{ ghost_dns }}',
        mail: {},
        database: {
            client: 'mysql',
            connection: {
                host: '{{ GHOST_DB_HOST }}',
                port: '{{ GHOST_DB_PORT }}',
                user: '{{ GHOST_DB_USER }}',
                password: '{{ GHOST_DB_PW }}',
                database: '{{ GHOST_DB_DBNAME }}',
                charset: 'utf8'
            },
            debug: false
        },

        server: {
            host: '127.0.0.1',
            port: '{{ ghost_port }}'
        }
    }
};

module.exports = config;